
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: radial-gradient(circle at center, #520e63, #542472, #000000);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    font-size: 24px;
    text-align: center;
    background: radial-gradient(circle at center, rgba(82, 14, 99, 0.8), rgba(84, 36, 114, 0.8), rgba(0, 0, 0, 0.8)), 
                url('stars.png');
    background-size: cover;
    background-position: top right;
    border: solid 2px black;
    color: yellowgreen;
}

@keyframes glow {
    0% { text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; }
    50% { text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; }
    100% { text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; }
}

header h1 {
    animation: glow 1.5s infinite alternate;
    font-size: 2.5rem;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.section {
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.2s, background 0.3s;
}

.section:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}


.section h2 a {
    text-decoration: none;
    color: white;
}

.section h2 a:hover {
    color: yellowgreen;
}


footer {
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: radial-gradient(circle at center, #520e63, #542472, #000000);
    color: white;
    border-top: 2px solid black;
    text-align: center;
}


@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: beige;
    }
    header {
        background: grey;
    }
    footer {
        background: grey;
        color: antiquewhite;
    }
}


